body{
    background-color: #D2C1B7;
    font-family: "Open Sans";
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 80px 120px;
}
.venstre-side{
    max-width: 500px;
    margin-left: 20px;
}

.overskrifter-forside{
    display: flex;
    flex-direction: column;
    color: #4f1313;
    line-height: 1.1;
    margin-bottom: 20px;
}

.linje1{
    font-size: 56px;
    font-weight: bold;
}

.linje2{
    font-size: 45px;
    font-style: italic;
    margin-left: 220px;
}

.brødtekst-forside{
    font-size: 20px;
    line-height: 1.6;
    color: #4f1313;
}

.læsmere-CTA{
    display: inline-block;
    background-color: #2F3824;
    color: white;font-size: 18px;
    padding: 12px 30px;
    border-radius: 30px;
    margin-left: 260px;
}

.billeder-højreside{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    margin-right: 20px;
}


.hyggebillede{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-left: 110px;

}


body {
    background-color: #D2C1B7;
    font-family: "Open Sans", sans-serif;
}

.reservation-form {
    width: 400px;
    margin: 40px auto;
}

.input-boks {
    background-color: #D2C1B7;
    border: 3px solid #5E0005;
    border-radius: 50px;
    padding: 22px 35px;
    margin-bottom: 28px;
    font-size: 22px;
    color: #5E0005;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
